@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
  --font-logo: 'Bebas Neue', ui-sans-serif, system-ui, sans-serif;

  --color-background: #0d1117;
  --color-surface: #161e27;
  --color-surface-elevated: #202b36;
  --color-foreground: #e8eaed;
}

@theme static {
  --color-macross-primary-50: #f8f7f6;
  --color-macross-primary-100: #efedeb;
  --color-macross-primary-200: #dfd7ce;
  --color-macross-primary-300: #ccb9a3;
  --color-macross-primary-400: #c09668;
  --color-macross-primary-500: #a57746;
  --color-macross-primary-600: #886339;
  --color-macross-primary-700: #6c4e2d;
  --color-macross-primary-800: #533c23;
  --color-macross-primary-900: #3d2c1a;
  --color-macross-primary-950: #201a13;

  --color-macross-secondary-50: #f6f8f7;
  --color-macross-secondary-100: #ebefed;
  --color-macross-secondary-200: #cedfd6;
  --color-macross-secondary-300: #a3cdb6;
  --color-macross-secondary-400: #67c190;
  --color-macross-secondary-500: #44a672;
  --color-macross-secondary-600: #388a5e;
  --color-macross-secondary-700: #2c6d4a;
  --color-macross-secondary-800: #225339;
  --color-macross-secondary-900: #193e2a;
  --color-macross-secondary-950: #132019;

  --color-macross-gray-50: #f7f7f8;
  --color-macross-gray-100: #ecedee;
  --color-macross-gray-200: #d4d5d9;
  --color-macross-gray-300: #b1b6be;
  --color-macross-gray-400: #8790a1;
  --color-macross-gray-500: #677184;
  --color-macross-gray-600: #555d6d;
  --color-macross-gray-700: #434a56;
  --color-macross-gray-800: #333842;
  --color-macross-gray-900: #262a31;
  --color-macross-gray-950: #18191b;
}

@layer base {
  :root {
    color-scheme: dark;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
